
:root {
    --sidebar-icon-color: #000;
    /* --sidebar-icon-active-color: #1976d2; */
    --sidebar-icon-active-color: #000;
    --sidebar-text-color: #000;
    --sidebar-text-active-color: #000;
    --sidebar-background-color: #fff;
    --sidebar-submenu-background-color: #f7f7f7;
    --sidebar-menu-button-background-color: #EBEBEB;
    --sidebar-menu-button-active-background-color: #e7dddd;

    --scrollbar-color: rgba(100, 100, 100, 0.3);
    --scrollbar-hover-color: rgba(100, 100, 100, 0.7);
}
  
[data-mdb-theme="dark"] {
    --sidebar-icon-color: #fff;
    /* --sidebar-icon-active-color: #90caf9; */
    --sidebar-icon-active-color: #efe237;
    --sidebar-text-color: #fff;
    --sidebar-text-active-color: #efe237;
    --sidebar-background-color: #111;
    --sidebar-submenu-background-color: #151515;
    --sidebar-menu-button-background-color: #44474B;
    --sidebar-menu-button-active-background-color: #2c2a2a;

    --scrollbar-color: rgba(255, 255, 255, 0.3);
    --scrollbar-hover-color: rgba(255, 255, 255, 0.7);
}

.sidebarContent .ps-sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--sidebar-background-color);
}

.sidebarContent .ps-submenu-content{
    background-color: var(--sidebar-submenu-background-color);
}

.sidebarContent .ps-menuitem-root .ps-menu-button:hover{
    background-color: var(--sidebar-menu-button-background-color);
}

.sidebarContent .ps-sidebar-root.ps-broken{
    top: 40px;
    height: calc(100% - 40px);
}

.sidebarContent a{
    color: inherit;
}

.sidebarContent a.active{
   font-weight: bold;
}

.sidebarContent .ps-toggled .ps-submenu-expand-icon{
    /*display: none;*/
}

/* .sidebarContent .ps-sidebar-container::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar:hover {
  width: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 3px;
    transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 3px;
    background: var(--scrollbar-hover-color);
}   

  
.sideBarIcon {
    fill: var(--sidebar-icon-color);
}

.sidebarContent .ps-menuitem-root.active .sideBarIcon {
    fill: var(--sidebar-icon-active-color);
}

.sidebarContent .ps-menuitem-root.active {
    /*background-color: var(--sidebar-menu-button-active-background-color); 1976d2*/
    color: var(--sidebar-icon-active-color);
    font-weight: 600;
}

.sidebarContent .ps-menuitem-root .ps-menu-label {
    color: var(--sidebar-text-color)
}

.sidebarContent .ps-menuitem-root.active .ps-menu-label {
    color: var(--sidebar-text-active-color)
}